.root{
	-fx-pref-width: 500;
	-fx-pref-height: 600;
    -fx-background-image: url("resources/space.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.title {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.subtitle {
   -fx-font-size: 18px;
   -fx-font-family: "Arial Black";
   -fx-fill: #B1B1B1;
}